extends layout

block content
	h1.h1.text-center बोल भारत
	form(method='POST',action='/')
		div.form-group
		label(for='message') संदेश:
		input#message.form-control(type='text',name='message' required)
		button.btn.btn-primary(type='submit') भेजें
	ul
		each message in data
			li
				a(href=message.id) #{message.message}